### Author: Daniel Cooke (daniel.cooke@invitae.com)
### Date: 22/06/2022
### Octopus version: v0.8.0

caller=polyclone
disable-downsampling=true
no-reads-with-distant-segments=true
min-candidate-credible-vaf-probability=0.25
max-vb-seeds=30
filter-expression=QUAL < 30 | MQ < 10 | SB > 0.95 | BQ < 15
