### Author: Daniel Cooke (dcooke@well.ox.ac.uk)
### Date: 19/06/2019
### Octopus version: v0.6.3-beta

variant-discovery-protocol=PACBIO

ignore-pileup-candidates-from-misaligned-read=no

min-bubble-score=4

model-mapping-quality=no

max-indel-errors=64

sequence-error-model=.pacbio

linked-reads=yes
