### Author: Daniel Cooke (dcooke@well.ox.ac.uk)
### Date: 03/03/2020
### Octopus version: v0.7.0

# Fragment long reads into linked chunks
max-read-length=1000
split-long-reads=true
read-linkage=LINKED

# No good ALT-aware read mappers for long-reads
allow-reads-with-good-unplaced-or-unlocalized-supplementary-alignments=true

# Setup variant discovery for noisy reads
variant-discovery-mode=PACBIO
allow-pileup-candidates-from-likely-misaligned-reads=true
max-region-to-assemble=2000
max-assemble-region-overlap=500

# Setup likelihood model for noisy reads
max-indel-errors=64 # Increase band size of pair HMM
use-wide-hmm-scores=true
sequence-error-model=.PacBioCSS
dont-model-mapping-quality=true # Mapping quality is not well calibrated for long reads

max-haplotypes=400
min-protected-haplotype-posterior=1e-6
