### Author: Daniel Cooke (dcooke@well.ox.ac.uk)
### Date: 19/06/2019
### Octopus version: v0.6.3-beta

variant-discovery-protocol=pacbio

ignore-pileup-candidates-from-misaligned-read=no

max-region-to-assemble=50

min-bubble-score=5

model-mapping-quality=no

max-indel-errors=64

sequence-error-model=.pacbio

read-linkage=linked
