## This Octopus configuration file is intended for use in calling low frequency (<1%) somatic mutations
## in UMI high depth sequencing data. It was originally designed for Brad Chapman's bcbio low frequency validations
## (https://github.com/bcbio/bcbio_validations/tree/master/somatic-lowfreq).

### Author: Daniel Cooke (dcooke@well.ox.ac.uk)
### Date: 11/10/2018
### Octopus version: v0.5.2-beta

caller=cancer
#
## Set the caller to 'cancer' as we want somatic mutations.
#

#somatics-only=yes
#
## Uncomment this if you only want somatic mutations (rather than germline and somatic).
#

allow-octopus-duplicates=yes
#
## UMI sequencing purposefully contains duplicates, we don't want to remove these.
#

overlap-masking=off
#
## Due to the nature of UMI capture sequencing, we expect read templates to overlap.
#

downsample-above=4000
downsample-target=4000
#
## Increase the default downsampling limits.
#

min-kmer-prune=5
min-bubble-score=20
#
## Increase the assembler proposal thresholds to avoid too many candidates from high depth data.
## If the downsample limits are increased then be sure to consider also increasing these parameters.
#

max-haplotypes=400
#
## Increase the default maximum number of haplotypes to consider.
#

somatic-snv-mutation-rate=5e-4
somatic-indel-mutation-rate=1e-05
#
## Double the default somatic mutation rates
#

min-expected-somatic-frequency=0.004
min-credible-somatic-frequency=0.001
#
## Decrease somatic frequency thresholds to increase sensitivity to low frequency mutations.
#

max-somatic-haplotypes=3
#
## Increase the maximum number of somatic haplotypes to consider.
## The bcbio test data contains some cases of clustered somatics on unique haplotypes.
## I'm not sure the biological plausibility of this, but Octopus will miss these
## cases with the default of 2. Increasing this to 5 does add a considerable computational burden.
## If you find memory use is an issue then see the option below.
#

target-working-memory=20G
#
## Setting this option should control peak memory usage. Fitting the models octopus uses
## for somatic calling has an runtime optimisation that trades memory for runtime. Setting
## this option will turn this optimisation off if the expected memory use with the optimisation
## goes above this threshold.
#

tumour-germline-concentration=5
#
## Increase the default tumour germline concentration.
## This parameter controls the shape of the Dirichlet mixture prior distribution.
## The default prior is relatively flat which works very well for paired calling
## since the normal is usually highly informative. A flatter prior means we are
## more robust to changes in germline copy number. Increasing this parameter
## adds more prior mass to lower frequency mutations, so we are more likely to
## classify these cases correctly without a normal. This can also improve computational
## runtime as the model generally reaches convergence faster.
#

somatic-filter-expression=GQ < 200 | MQ < 30 | SB > 0.2 | SD[.25] > 0.1 | BQ < 40 | DP < 100 | MF > 0.1 | AD < 5 | CC > 1.1 | GQD > 2 | REB > 0.2
#
## Until we have sufficient training data for the random forest, here are some threshold filters which
## are better suited to UMI sequencing. The changes from the defaults are:
## * 'GQ < 200': We want to be very confident in the called genotypes.
## * 'SB > 0.2': Decrease default strand bias threshold as strand artefacts are more likely with capture sequencing.
## * Add 'SD[.25] > 0.1': This basically removes calls only seen on one strand, and complements SB (which tests for the *difference* in strand assignments between called alleles).
## * 'DP < 100': We are expecting very high depths, so a call with low depth indicates the call is on the border of the capture region which can be problematic.
## * Add AD < 5: We want to see minimal support for the called variant.
## * Add 'CC > 1.1': We do not expect CC > 1 so any calls that trigger this are suspect.
## * Add 'GQD > 2': A very high GQD usually means the model ran out of competing hypothesis' which is usually bad.
## * Remove 'FRF': Since we are heavily downsampling we don't want this filter.
#